body{
    background-color: #ffffff;
}
.nav{
    max-width: 80rem;
    height: 50px;
    background-color: lightgray;
}
.image{
    width: 210px;
    height: 240px;
    max-width: 90%;
    border-radius: 50%;
}
